---
import Layout from "../components/Layout.astro";
import TagContainer from "../components/home/TagContainer.astro";
import Banner from "../components/home/Banner.astro";
import Tabbar from "../components/home/Tabbar.astro";
import ArticlePreview from "../components/home/ArticlePreview.astro";
import { Api } from "../api/api";
import { JwtManager } from "../js/utils/jwt-manager";

const params = Astro.url.searchParams
const page = +(params.get("page") ?? '0')
const isFeed = params.get("feed") == "true";
const tag = params.get("tag") ?? undefined;
const isLoggedIn = JwtManager.serverSide.isLoggedIn(Astro);
const articles = isFeed
  ? Api.getArticleFeed(JwtManager.serverSide.read(Astro)?.value ?? "", {page})
  : Api.getArticles({ tag, page });
const tags = Api.getTags();
---

<Layout>
  <div class="home-page">
    <Banner />

    <div class="container page">
      <div class="row">
        <div class="col-md-9">
          <Tabbar isLoggedIn={isLoggedIn} isFeed={isFeed} tag={tag} />
          <ArticlePreview articles={articles} />
        </div>
        <TagContainer tags={tags} />
      </div>
    </div>
  </div>
</Layout>
